body{
    background-color: hsl(0, 0%, 95%);
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    color: white;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color:hsla(0, 0%, 100%, 0.75)

}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { 
        grid-area: 2 / 2 / 5 / 3;
        height: 400px;
        width: 200px;
        background-color: #AA8B56 ;
        padding: 50px;
        line-height: 1.5;
        border-radius:10px 0 0 10px;
     }
    .div2 { 
        grid-area: 2 / 3 / 5 / 4;
        height: 400px;
        width: 200px;
        background-color: #395144;
        padding: 50px;
        line-height: 1.5;
     }
    .div3 { 
        grid-area: 2 / 4 / 5 / 5;
        height: 400px;
        width: 200px;
        background-color:#4E6C50 ;
        padding:50px;
        line-height: 1.5;
        border-radius:0 10px 10px 0;
     }

     .button1{
        border: 2px solid hsl(0, 0%, 95%);
        color:hsl(0, 0%, 95%);
        background-color:  #AA8B56;
        border-radius:25px;
        text-align: center;
        padding: 10px 30px;
        margin: 100px 0px 10px 0px;
      }
      
      .button2{
          border: 2px solid hsl(0, 0%, 95%);
          color:hsl(0, 0%, 95%);
          background-color: #395144;
          border-radius:25px;
          text-align: center;
          padding: 10px 30px;
          margin: 100px 0px 10px 0px;
      }
      
      .button3{
          border: 2px solid hsl(0, 0%, 95%);
          color:hsl(0, 0%, 95%);
          background-color:#4E6C50 ;
          border-radius:25px;
          text-align: center;
          padding: 10px 30px;
          margin: 100px 0px 10px 0px;
      }

     .fa-hand-pointer{
        position: absolute;
        color:hsl(0, 0%, 95%);
        align-self: center;
        margin-top:17px;
        
     }